[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Jaypatil6000
	email = 133960469+Jaypatil6000@users.noreply.github.com
